@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora');

body {
  margin: 0;
  color: #E1E2E2;
  font-family: 'Cinzel', serif;
}

h1 {
  font-size: 100px;
  text-align: center;
}

#statement {
  color: #ffffff;
  background: #00205b;
  border: 10px solid #bf0c3d;
  text-align: center;
  font-family: 'Cinzel', serif;
  padding: 50px 60px;
  font-size: 20px;
}

#election {
  color: #ffffff;
  border: 10px solid #bf0c3d;
  padding: 60px;
}

footer {
  font-size: 30px;
  text-align: center;
  padding:50px;
}

#dropdown {
  text-decoration: none;
}

#election {
  display: block;
  padding: 20px;
}

.radio, .checkbox {
  list-style-type: none;
}