@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora');

body {
    margin: 0;
    font-family: 'Cinzel', serif;
}

h1 {
    font-size: 6rem;
    text-align: center;
    color: #2b2e39;
    background-color: #562033;
    margin-top: 0;
    padding: .5em 0;
    text-shadow: -.03em -.03em black;
    border-bottom: 8px solid #2b2e39;
}

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*padding-bottom: 3em;*/
    box-shadow: -3px -3px 5px  black;
    margin-bottom: 4em;
}

#statement {
    text-align: center;
    font-family: 'Cinzel', serif;
    padding: 50px 60px;
    font-size: 20px;
    background-color: #562033;
    color: #E1E2E2;
}

#dropdown {
    text-decoration: none;
}

#election {
    display: block;
    padding: 20px;
}

.radio, .checkbox {
    list-style-type: none;
}

footer {
    font-size: 30px;
    text-align: center;
    padding:50px;
}
